@charset 'utf-8';

/* ---- VARIABLES ---- */
/* TODO: look into relative color definitions, esp for 'subdued' def 
    see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_colors/Relative_colors
    esp the Color palette generator example, monochrome */
* {  
	--primary-bg-color: #fff;
    --secondary-bg-color: #ededed;
    --primary-txt-color: #171717;
	--secondary-txt-color: #73787c;
    --primary-link-color: #46b;
    --secondary-link-color: #84b;

    --sans-serif-font-stack: ui-sans-serif, system-ui, sans-serif;
    --monospace-font-stack: ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
    * {
		--primary-bg-color: #121212;
		--secondary-bg-color: #282828;
		--primary-txt-color: #aaa;
		--secondary-txt-color: #969696;
        --primary-link-color: #6c88b0;
        --secondary-link-color: #76678a;
    }
}

/* ---- END VARIABLE DEFINITIONS ---- */
/* ---- GENERAL STYLING ---- */
html {
	font-family: var(--sans-serif-font-stack);
	background: var(--primary-bg-color);
    max-width: 70ch;
    padding: 1em;
    margin: auto;
    line-height: 1.75;
	color: var(--primary-txt-color);
	/* next 3 lines disable auto-inflate on various mobile browsers */
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none; 
}

/* for story artwork, drawings page */
figure {
    text-align: center;
    margin-bottom: 2em
}
img {
    max-width: 80%;
    object-fit: contain;
    padding-bottom: 0.2em;
}
figcaption {
    font-size: 0.8rem;
    font-style: italic;
}

/* for quotes in running text */
blockquote {
    font-style: italic;
	margin: 2em;
    border-left: 3px solid;
    padding-left: 1em;  
}
/* maybe add a figure > blockquote set of styling, for quotes on main site pages?
to replace the intricate stuff below, after revising mains site pages */

/* style link behavior to use clear colors and underlining for visual clarity */
a {
    color: var(--primary-link-color);
    text-decoration-line: underline; /* text-decoration single line shorthand not working in Safari */
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15rem;
}
a:link {
    text-decoration-color: var(--primary-link-color);
}
a:hover { /* :focus puts a border around a link by default, so no need to also do this */
    font-weight: bolder;
}
a:visited {
    color: var(--secondary-link-color);
    text-decoration-color: var(--secondary-link-color);
}

aside , details { /* style the same; their function is the same, only one is closable */ 
    border-top: 1px dotted var(--primary-txt-color);
    border-bottom: 1px dotted var(--primary-txt-color);
    background: var(--secondary-bg-color);
    margin: 3rem 0;
    padding: 1rem 2rem;
    font-size: 1rem;
}
details > summary {font-size: 2rem;}

/* SEMANTIC HEADINGS */
h1, h2 {
	font-weight: normal;
	line-height: 1.3;
}
h1 { /* page titles */
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}
h2 { /* section titles */
    margin-top: 3rem;
    margin-bottom: 0.3rem;
}
h1 + p, h2 + p { /* first p elt after h1 or h2 is author, date, or similar */
    font-style: italic;
    color: var(--secondary-txt-color);
    margin-top: 0rem;
}
h1 + p { /* for page headings, add space to start of content */
    margin-bottom: 2rem;
}

/* DIVIDERS */
hr {  /* used semantically, as scene divider */
    border: none;
    overflow: visible;
    text-align: center;
    height: 2rem;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: bold;
}
hr:after {
    content: '§';
    position: relative;
    top: -0.8rem; /* to vertically center it; depends also on <p> margins/padding */
}

/* for the stage directions in Liz Builds a Robot */
pre.liz, pre.liz > code {
    background: var(--primary-bg-color);
    font-family: var(--monospace-font-stack);
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.3;
    margin-top: 0.4em; 
    margin-bottom: 0.4em;
}

/* table of contents styling */
section.toc {
    margin: 2rem 0;
}
section.toc h1 { /* toc title, such as 'Table of Contents' */
   font-size: 2rem; /* smaller in section, article, aside, nav elts; compensate */
   margin-bottom: 1rem;
}

span.newthought { /* to use for first words of a new section, where desired */
    font-variant: small-caps;
    font-size: 1.2em;
}


/* style the very top and very bottom of the page content, 
   ie, the page header and footer sections. Note this
   leaves possible headers and footers in other sections
   unchanged */
body > header {
    text-align: center;
	margin-bottom: 2rem; /* same spacing as above the footer, see below */
}
body > footer {
	text-align: center;
    margin-top: 2rem;
}

/* style the mirrored elements in header, footer */
body > header > p { /* name of site */
	font-size: 0.9rem; 
	color: var(--secondary-txt-color);
    border-bottom: 1px solid var(--secondary-txt-color);
    margin-bottom: 0.2rem;  
}
body > header > nav { /* nav links */
	font-size: 0.8rem;
	color: var(--secondary-txt-color);
/*	margin: 0 0 0.7rem 0; */
}
body > header > nav.back-to-main { /* top nav element on site */
    margin-bottom: 1rem;
}
/* footer version */
body > footer > p { /* copyright text, link to license */
	font-size: 0.8rem; /* note, smaller than site name in header */
	color: var(--secondary-txt-color);
/*    padding-top: 0.2rem; /* to match spacing from line with header spacing */
/*    margin-top: 0; */
    margin-bottom: 0.2rem;  /* spacing to element below */
    border-top: 1px solid var(--secondary-txt-color);
}
body > footer > nav { /* nav links */
	font-size: 0.8rem;
	color: var(--secondary-txt-color);
/*	margin: 0.7rem 0 0 0; */
}
body > footer > nav.back-to-main { /* bottom nav element on site */
    margin-top: 1rem;
}


/* some pages have a top quotation; style this -- NOTE I may be able to delete all this
once I revise the main site pages */
body > header > figure {
    padding: 0.6rem;
    margin: 0;
}
body > header > figure > blockquote {
	margin: 0 auto;
}
body > header > figure > blockquote > p {
    text-align: center;
    font-size:0.8rem;
	color: var(--secondary-txt-color);
    font-style: italic;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
    margin: 0 auto; /* the 'auto' for left and right enables centering when max width is reached */
    max-width: 50ch; /* so quotes wrap more nicely */
}
body > header > figure > blockquote + figcaption {
    font-size: 0.7rem;
	color: var(--secondary-txt-color);
    margin-top: 0;
}

/* --- end of page header / footer styling --- */

