/* copied from erikjohannes.no website, thank you Erik Johannes Husom. See his files at https://codeberg.org/erikjohannes/erikjohannesno */


* {
	--backgroundcolor: #fff;
    --prebackgroundcolor: #ededed;
    --main-txt-color: #171717;
    --main-link-color: #46b;
    --second-link-color: #84b;
	--subduedcolor: #444444;
    --highlightcolor: #a3a3a3;
}

@media (prefers-color-scheme: dark) {
    * {
		--backgroundcolor: #121212;
		--prebackgroundcolor: #2f2f2f;
		--main-txt-color: #aaa;
        --main-link-color: #8ad;
        --second-link-color: #a8d;
		--subduedcolor: #bbb;
		--highlightcolor: #a0a0a0;
    }
}

html {
	font-family: ui-sans-serif, system-ui, sans-serif;
	background: var(--backgroundcolor);
    max-width: 70ch;
	font-size: 100%; /* default setting: 1rem = 16px */
    padding: 1em;
    margin: auto;
    line-height: 1.75;
	color: var(--main-txt-color);
	/* next 3 lines disable auto-inflate on various mobile browsers */
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none; 
}

img {
    width: 30%;
    object-fit: contain;
    padding-bottom: 0.2em;
}

code {
    background: var(--prebackgroundcolor);
}

pre {
    background: var(--prebackgroundcolor);
    padding: 2px 4px;
    overflow: auto;
}

video {
    width: 100%;
}

/* style the very top and very bottom of the page content, 
   ie, the page header and footer sections. Note this
   leaves possible headers and footers in other sections
   unchanged */
body > header {
    text-align: center;
	margin-bottom: 4rem; /* same spacing as above the footer, see below */
}

/* style the site name and navigation links */
body > header > p { /* name of site */
	font-size: 0.9rem; 
	color: var(--subduedcolor);
    border-bottom: 1px solid var(--subduedcolor);
    margin-bottom: 0.2rem;  
}
body > header > nav > p { /* nav links */
	font-size: 0.8rem;
	color: var(--subduedcolor);
	margin: 0 0 0.7rem 0;
}


/* some pages have a top quotation; style this */
body > header > figure {
    padding: 0.6rem;
    margin: 0;
}
body > header > figure > blockquote {
	margin: 0 auto;
}
body > header > figure > blockquote > p {
    text-align: center;
    font-size:0.8rem;
	color: var(--subduedcolor);
    font-style: italic;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
    margin: 0 auto; /* the 'auto' for left and right enables centering when max width is reached */
    max-width: 50ch; /* so quotes wrap more nicely */
}
body > header > figure > blockquote + figcaption {
    font-size: 0.7rem;
	color: var(--subduedcolor);
    margin-top: 0;
}

/* every page includes the copyright, links to privacy and license, etc; style this */
body > footer {
	text-align: center;
	font-size: 0.8rem;
	color: var(--subduedcolor);
    border-top: 1px solid var(--subduedcolor);
    margin-top: 4rem;
}
/* --- end of page header / footer styling --- */


/* style blockquotes _not_ in the page header */
 :is(main, article, section, aside) blockquote {
    font-style: italic;
    font-size: 90%;
	margin-left: 2em;
    border-left: 3px solid;
    padding-left: 1em;  
}

/* style link behavior to use clear colors and underlining for visual clarity */
a {
    color: var(--main-link-color);
    text-decoration-line: underline; /* text-decoration single line shorthand not working in Safari */
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15rem;
}
a:link {
    text-decoration-color: var(--main-link-color);
}
a:hover { /* :focus puts a border around a link by default, so no need to also do this */
    font-weight: bolder;
}
a:visited {
    color: var(--second-link-color);
    text-decoration-color: var(--second-link-color);
}

/* headings */
h1, h2, h3 {
	font-weight: normal;
	line-height: 1.3;
}